@import "./swift-ui-min.css";
/* background css */
:root {
  --primary-color: #051b3a;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  color: white;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: url("./assests/header.png");
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

.content-body {
  height: calc(100vh - 4rem);
  overflow: auto;
  background-color: rgba(5, 27, 58, 0.2);
  padding: 1rem;
}

.header-text {
  max-width: 60rem;
  text-align: center;
  margin: 2rem auto;
}

.btn-solid-primary {
  background-color: var(--primary-color);
  border: 1px solid white;
}

.create-btn {
  width: fit-content;
  transition: all 0.2s ease-in;
}

.create-btn:hover {
  background-color: white;
  color: var(--primary-color);
  transition: all 0.2s ease-out;
}

.card {
  background-color: #030e1d;
  box-shadow: none;
}

/* utility css */
.container {
  padding: 1rem;
  background-color: #030e1d;
}

.mw-48r {
  max-width: 48rem;
}

.mw-40r {
  max-width: 40rem;
}

.pointer-event-none {
  pointer-events: none;
}
